body {
    margin: 0;
    font-family: cursive;
}

.container {
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: cursive;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    height: 300px;
    justify-content: center;
    margin-top: 50px;
}

.square {
    border: 4px solid #e0e0e0;
    margin-left: -2px;
    margin-top: -2px;
    font-size: 110px;
    text-align: center;
}

.square:hover {
    cursor: pointer;
}

.square:first-child {
    border-top-left-radius: 1rem;
}

.square:last-child {
    border-bottom-right-radius: 1rem;
}

.square:nth-child(3) {
    border-top-right-radius: 1rem;
}

.square:nth-child(7) {
    border-bottom-left-radius: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.displayWinner {
    height: 100px;
    width: 500px;
    background-color: #F28C28;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.restart {
    font-size: 25px;
    padding: 10px;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: #ADD8e6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.restart:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}

.currentTurn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}