body {
    margin: 0;
    font-family: cursive;
}

.container {
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: cursive;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    height: 300px;
    justify-content: center;
    margin-top: 50px;
}

.square {
    border: 2px solid black;
    margin-left: -2px;
    margin-top: -2px;
    font-size: 110px;
    text-align: center;
}

.square:hover {
    cursor: pointer;
}

.square:first-child {
    border-top-left-radius: 1rem;
}

.square:last-child {
    border-bottom-right-radius: 1rem;
}

.square:nth-child(3) {
    border-top-right-radius: 1rem;
}

.square:nth-child(7) {
    border-bottom-left-radius: 1rem;
}